.Blog {
  &-container {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-color: white;
  }
  &-header {
    width: 100%;
    //max-width: 1600px; da igual porque solo hay un texto centrado
    height: 400px;
    padding-top: var(--header-height);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
  }
  &-headerTitle {
    text-align: center;
    width: 400px;
    color: var(--default-color);
  }

  &-list {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 500px;
    padding: 4rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: white;//var(--default-color);
    @media screen and(max-width: 736px) {
      padding: 2rem 0 2rem 0;
    }
  }
}

.Bbar {
  &-wrapper {
    //border: solid red 1px;
    width: 100%;
    background-color: var(--default-color);
  }
  &-container {
    //border: solid red 1px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 3rem 0 3rem;
    background-color: var(--default-color);
    color: var(--default-color);
    display: flex;
    height: 70px;
    padding-top: 0.65rem;
    justify-content: space-between;
    @media screen and(max-width: 790px){
      justify-content: center;
      padding: 1rem 0 1rem 0;
      height: auto;
    }
  }
  &-items {
    text-decoration: none;
    list-style: none;
    display: flex;
    width: 800px;
    height: 100%;
    align-items: center;
    margin-right: 2rem;
    @media screen and(max-width: 790px){
      width: 100%;
      margin: 0;
      height: 150px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

    }
  }
  &-item {
    //border: solid red 1px;
    text-align: left;
    //margin: 0 .08rem 0 .08rem;
    padding: 0 1rem 0 1rem;
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-color);
    font-size: 1rem;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.4s var(--timing-func-one);
    &:hover {
      background-color: white;
    }
    &.is-active {
      background-color: white;
    }
    @media screen and(max-width: 790px){
      margin: 0.1rem;
      width: 45%;
      border-radius: 5px;
      flex-basis: auto;
      flex-grow: 0;
      height: 32%;
    }
  }
}

.Search {
  &-container {
    //border: solid red 1px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media screen and(max-width: 790px) {
      width: 100%;
    }
  }
  &-form {
    border: solid var(--dark-color) 2px;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .42rem 0 .5rem;
    transition: border-color 0.3s ease-out;
    &.is-active {
      border: solid var(--third-color) 2px;
    }

  }
  &-input {
    border: none;
    outline: none;
    height: 100%;
    font-size: var(--base-size);
    background: none;
    color: var(--dark-color);
    margin: 1rem;
    //border: solid orange 1px;
    @media screen and(max-width: 790px) {
      flex-grow: 1;
    }
    &::placeholder {
      opacity: 0.7;
      color: var(--dark-color);
    }
  }

  &-button {
    outline: none;
    border: none;
    background-color: var(--dark-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    @media screen and(max-width: 790px) {
      position: absolute;
      right: 0.35rem;
    }
  }
  &-icon {
    //border: solid red 1px;
    color: var(--default-color);
    font-size: 1.1rem;
    transition: color 0.3s ease-out;
    &.is-active {
      color: var(--third-color);
    }
  }
}
