:root {
  /* font: font-style font-variant font-weight font-size/line-height font-family; */
  /* font: italic small-caps normal 13px/150% Arial, Helvetica, sans-serif; */
  /* Meassures */
  --header-height: 7rem;

  /* Colors */
  --default-color: #E6E8ED;
  --dark-color: #2B303A;
  --first-color: #92DCE5;
  --second-color: #7C7C7C;
  --third-color: #D64933;

  /* Font ratio: 1.125*/

  --font-main: 'Lato';
  --font-second: 'Chakra Petch';
  --t1: 1.424rem;
  --t2: 1.266rem;
  --t3: 1.125rem;
  --base-size: 1rem;
  --s1: 0.889rem;
  --s2: 0.79rem;

  /**shadows */
  --box-shadow-xs: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  /** timing functions*/
  --timing-func-one: cubic-bezier(.25,.8,.25,1);
}
html {
  scroll-behavior: smooth;
}
#root {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-color);
  min-width: 320px;
  font: normal var(--font-main) var(--base-size, 1rem);

}
body, input, textarea, select, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--default-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
}
