@keyframes FadeInContent {
  from {
    opacity: 0;
    //transform: translate3d(0, -10px, 0);
  }
}
.MainContent {
  animation: FadeInContent 0.4s var(--timing-func-one);
}
.Visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
