@keyframes spinAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loadimg {
  &-container {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: var(--second-color);
    color: var(--default-color);
    &.completed {
      height: auto;
    }
  }
  &-img {
    width: 100%;
    display: block;
    transition: opacity 0.3s ease-out;
    & > * {
      width: 100%;
      display: block;
    }
    &.loading {
      opacity: 0;
    }
    &.completed {
      opacity: 1;
    }
  }
  &-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-out;
    &.loading {
      opacity: 1;
    }
    &.completed {
      opacity: 0;
    }
  }
  &-icon {
    font-size: 1.5rem;
    animation: spinAnimation 1s linear infinite;
  }
}
