@keyframes LoadingBlog {
  0% {
    transform: translate3d(0,0,0);
  }
  12.5% {
    transform: translate3d(100%,0,0);
  }
  25% {
    transform: translate3d(100%,0,0);
  }
  37.5% {
    transform: translate3d(100%,100%,0);
  }
  50% {
    transform: translate3d(100%,100%,0);
  }
  62.5% {
    transform: translate3d(0,100%,0);
  }
  75% {
    transform: translate3d(0,100%,0);
  }
  87.5% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
@keyframes startLoading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#loading-blog {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-color);
  animation: startLoading 0.3s ease forwards;
  &.Full {
    width: 100vw;
    height: 100vh;
  }
  &.Blog {
    background: transparent;
  }
  &.Post {
    width: 100%;
  }
  &.Blogs {
    background-color: white;
  }
}
.Loading {
  &-blog {
    position: relative;
    //border: solid red 1px;
    width: 70px;
    height: 70px;
    padding: 5px;
  }
  &-loader {
    position: absolute;
    top: 0;
    left: 0;
    //border: blue solid 1px;
    padding: 3px;
    width: 50%;
    height: 50%;
    &:nth-child(1) {
      z-index: 850;
      animation: LoadingBlog 1s linear infinite;
      & div {
        background: var(--first-color);
      }
    }
    &:nth-child(2) {
      z-index: 851;
      animation: LoadingBlog 1s linear infinite -0.385s;
      & div {
        background: var(--second-color);
      }
    }
    &:nth-child(3) {
      z-index: 852;
      animation: LoadingBlog 1s linear infinite -0.7s;
      & div {
        background: var(--third-color);
      }
    }
    & > div {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 3px;
    }
  }
}
