.Blog {
  &-card {
    //border: solid blue 1px;
    //width: 100%;
//    min-width: 320px;
    //max-height: 500px;
    width: 30%;
    min-width: 320px;
    margin: 0 0.4rem 2rem 0.4rem;
    position: relative;
    height: auto;
    padding-bottom: 1rem;
    background-color: var(--default-color);
    //box-shadow: var(--box-shadow-xs);
    color: var(--dark-color);
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    @media screen and(max-width: 736px) {
      border-radius: 0;
      width: 100%;
      margin: 0 0 2rem 0;
      max-height: none;
    }
  }
  &-ogimage {
    width: 100%;
  }
  &-plusicon {
    position: absolute;
    bottom: 0;
    left: 50%;
    //margin: 1rem;
    //margin-bottom: 3px;
    color: var(--dark-color);
    font-size: 1.6rem;
    background-color: transparent;
    padding-bottom: 0.2rem;
    //border-radius: 50%;
    display: block;
    width: 100%;
    transform: translate(-50%, 0);
    //border: 1px var(--third-color) solid;
    //opacity: 0.6;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: var(--second-color);
    }

  }
  &-name {
    width: 100%;
    padding: 0.5rem 1.2rem 1rem 1.2rem;
    font-size: var(--t3);
    font-weight: 400;
    text-align: center;
    color: var(--dark-color);
  }
  &-category {
    text-transform: uppercase;
    margin: 1rem 0 0.3rem 0;
    font-size: var(--s2);
    color: var(--second-color);
    letter-spacing: 0.04rem;
  }
  &-pretext {
    width: 100%;
    padding: 0 1.2rem 0 1.2rem;
    font-size: var(--base-size);
    line-height: 1.35;
  }
  &-tags{
    //border: solid red 1px;
    width: 100%;
    padding: 0 1.2rem 0 1.2rem;
    box-sizing: content-box;
    margin-top: 1.5rem;
    margin-left: 3rem;
    pointer-events: none;
    font-size: var(--s1);
    & strong {
      color: var(--second-color);
      border: solid var(--second-color) 1px;
      padding: 0.5rem 1rem;
      display: inline-block;
      border-radius: 5px;
      margin-right: 0.5rem;
      font-weight: 400;
    }
  }
}
