.Comments {
  &-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  &-wrapper {
    //border: solid red 1px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
  }
  &-form {
    box-sizing: border-box;
    //border: solid red 1px;
    width: 100%;
    height: auto;
  }
  &-main {
    position: relative;
    //border: blue solid 1px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    //max-height: 120px;

  }
  &-login {
    //border: orange solid 1px;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0.25rem;
    &.is-active {
      margin: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(254,254,254,0.7);
      & .Comments-google {
        font-size: 3rem;
      }
    }
  }
  &-google {
    background: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    font-size: 1.5rem;
    vertical-align: center;
    color: var(--third-color);
    transition: color 0.3s ease;
    &:hover {
      color: var(--dark-color);
      cursor: pointer;
    }
  }
  &-input {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    resize: none;
    border: solid 1px var(--second-color);
    border-radius: 5px;
    outline: none;
    padding: .6rem 2rem .6rem .6rem;
    font-family: var(--font-main);
    font-size: 1rem;
    color: var(--dark-color);
    font-weight: 600;
    letter-spacing: 0.045rem;
    line-height: 1.5;

  }
  &-button {
    padding: 0.5rem 1rem;
    color: var(--default-color);
    background-color: var(--third-color);
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: var(--dark-color);
      cursor: pointer;
    }
  }
}

.Comment {
  &-container {
    //border: solid red 1px;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    min-height: 100px;
  }
  &-img {
    //border: blue solid 1px;
    width: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    //overflow: hidden;
  }
  &-imgsrc {
    width: 50%;
    min-width: 40px;
    border-radius: 50%;
  }
  &-content {
    //border: orange 1px solid;
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &-info {
    width: 100%;
    font-family: var(--font-main);
    color: #000;
  }
  &-author {
    display: inline-block;
  }
  &-date {
    margin: 0 1.2rem;
    display: inline-block;
    font-size: var(--s2);
    color: var(--second-color);
  }
  &-text {
    margin-top: 0.5rem;
    color: var(--dark-color);
    font-family: var(--font-main);
  }
}
