.Post {
  &-container {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    @media screen and (max-width: 850px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &-wrapper {
    //border: solid red 1px;
    background-color: white;
    width: 100%;
    padding-top: var(--header-height);
    max-width: 750px;
    @media screen and (max-width: 970px){
      width: 500px;
    }
    @media screen and (max-width: 750px){
      width: 100%;
    }
  }
  &-aside {

    font-size: var(--t1);
    font-family: var(--font-main);
    margin-top: var(--header-height);
    padding-top: 3rem;
    min-height: 100vh;
    //border-left: solid 1px var(--second-color);
    //box-shadow: -1px 0px 0px 0px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 400px;
    @media screen and (max-width: 550px){
      //border: solid green 1px;
      max-width: none;
      width: 100%;
    }
  }
  &-subsection {
    width: 80%;
    line-height: 1.9;
    border-bottom: solid 1px var(--dark-color);
    margin: 0 0 2rem 0;
  }
  &-share {
    display: block;
    text-align: center;
    font-family: var(--font-main);
    font-size: 1.3rem;
  }
  &-end {
    pointer-events: none;
    display: block;
    //display: inline-block;
    text-align: center;
    width: 300px;
    font-family: var(--font-main);
    margin: 3rem auto 3rem auto;
    padding: 1rem;
    font-size: 1.3rem;
    color: var(--third-color);
    border: solid 2px var(--third-color);
    &::selection {
      background-color: var(--third-color);
      color: var(--default-color);
    }
  }
  &-body {
    font-family: var(--font-main);
    width: 100%;
    margin: 2rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    & > h1 {
      //border: red solid 1px;
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 2rem;
      line-height: 1.8;
      font-weight: 800;
      &::after {
        content: "";
        position: relative;
        display: block;
        background-color: var(--third-color);
        height: 2px;
        width: 200px;
        margin: 1rem auto 0 auto;

      }
      @media screen and (max-width: 850px){
        font-size: 2rem;
      }
    }
    & > h2 {
      width: 100%;
      //border: solid red 1px;
      max-width: 920px;
      font-size: 1.5rem;
      font-weight: 800;
      letter-spacing: 0.04rem;
      margin: 1.2rem 0 2.3rem 0;
      padding-bottom: 1rem;
      border-bottom: 1px var(--second-color) solid;
      @media screen and (max-width: 850px){
        font-size: 1.1rem;
      }
    }
    & > h3 {
      width: 100%;
      max-width: 920px;
      font-weight: 400;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      letter-spacing: -0.01rem;
      @media screen and (max-width: 850px){
        font-size: 1.1rem;
      }
    }
    & > h4 {
      text-align: left;
      align-self: flex-start;
      font-size: 1rem;
    }
    & > h6 {
      //border: solid red 1px;
      max-width: 920px;
      text-align: center;
      color: var(--third-color);
      font-size: var(--t2);
      font-weight: 600;
      margin-bottom: 2rem;

    }
    p {
      width: 100%;
      max-width: 920px;
      letter-spacing: 0.04rem;
      line-height: 1.6;
      font-family: var(--font-main) !important;
      font-weight: 400 !important;
      font-size: 1.1rem;
      font-weight: 300;
      margin-bottom: 2rem;
      @media screen and (max-width: 850px){
        font-size: 0.9rem;
        font-weight: 400 !important;
        line-height: 1.7;
      }
    }

    p > code {
      display: inline-block;
      background-color: var(--default-color);
      color: var(--dark-color);
      padding: 0 .25rem 0 .25rem;
    }
    p > img {
      //border: solid red 2px;
      //width: 80%;
      width: initial !important;
      max-width: 100% !important;
      display: block;
      margin: 0 auto;
      @media screen and (max-width: 850px){
        width: 100%;
      }
    }
    & > pre {
      width: 100% !important;
      max-width: 920px !important;
      background: var(--dark-color) !important;
      overflow: auto;
      margin-bottom: 2rem !important;
    }
    & > pre * {
      @media screen and (max-width: 850px){
        font-size: 0.85rem !important;
      }
    }
  }
}
